* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Light';
    src: url('../fonts/SourceSansPro-Light.ttf');
    /* src: url('/assets/fonts/SourceSansPro-Light.ttf'); */
}

@font-face {
	font-family: 'Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf');
    /* src: url('/assets/fonts/SourceSansPro-Regular.ttf'); */
}

html {
	height: 100%;
}

body {
	width: 100%;
    background-color: #ffffff;
    color: #000;
	box-sizing: border-box;
	overflow-x: hidden;
}

.text-center{
    text-align: center;
}

.section-padding{
    padding: 2rem 0;
}

.background-spr{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: calc(100% - 5rem);
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hero-banner{
    width: 100%;
    height: 100vh;
    background-image: url("../images/hero.jpg");
}

.hero-banner-heading{
    font-size: 42px;
    font-family: 'Light';
    padding: 3rem 6rem;
    color:  #ffffff;
}

.section-1{
    font-family: 'Light';
}

.section-1-heading,
.section-1-sub-heading{
    font-family: 'Light';
    color: #0f0f0f;
}

.section-1-heading{
    font-size: 48px;
}

.section-1-sub-heading{
    font-size: 24px;
}

.section-2-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row{
    vertical-align: middle;
    align-items: center;
}

.right{
    width: 40%;
    margin: 0 auto;
}

/* .text-content{
    padding-left: 15px;
    padding-right: 15px;
} */

.title{
    font-size: 24px;
    color: #ee4023;
    font-family: 'Regular';
}

.sub-title{
    font-family: Light;
    font-size: 18px;
    color: #0f0f0f;
    padding: 1rem 0;
}

.flp-btn{
    font-size: 20px;
    font-family: 'Regular';
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #ee4023;
    background-color: #fff;
    color: #ee4023;
    padding: .25rem 10rem .25rem 1rem;
    margin-top: 2rem;
    float: left;
}

.cng-btn{
    font-size: 20px;
    font-family: 'Regular';
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #ee4023;
    background-color: #fff;
    color: #ee4023;
    padding: .25rem 10rem .25rem 1rem;
    margin-top: 2rem;
    float: left;
}

.section-4{
    background-image: url('../images/closing-photo.jpg');
    height: 150vh;
    position: relative;
}

.bg{
    background-color: #000;
    opacity: .8;
    color: #ffffff;
}

.text-center{
    text-align: center;
}

.section-4-content{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    padding: 60px 85px;
}

.section-4-content h3{
    font-family: 'Regular';
    font-size: 36px;
    font-weight: lighter;
    color: #ffffff;
}

.section-4-content p{
    font-family: 'Light';
    font-size: 20px;
    color: #ffffff;
}

.input{
    width: 30%;
    padding: 8px 25px;
    border: none;
    outline: none;
}

.btn-input{
    width: 30%;
    padding: 8px 5px;
    border: none;
    outline: none;
    background-color: #ee4023;
    color: #ffffff;
    cursor: pointer;
    margin-left: -3px;
    font-weight: bolder;
}

.input, .btn-input{
    opacity: 100%;
}

.footer{
    background-image: url('../images/geometric-band.jpg');
    padding: 3rem 0;
    margin-top: 1rem;
}

.footer ul{
    width: 50%;
    margin: 0 auto;
}

.footer ul li{
    display: inline;
    font-family: 'Light';
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 770px){
    body{
        overflow-x: hidden;
    }    
    .text-center{
        text-align: center;
    }
    .hero-banner{
        width: 850px;
    }
    .section-4{
        width: 850px;
    }
    .section-4-content{
        width: 80%;
        top: 25%;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .input{
        width: 50%;
    }
    .btn-input{
        width: 50%;
    }
    .btn-input{
        margin: 0;
    }
    .right{
        width: 80%;
        padding-bottom: 1rem;
    }
    .footer{
        width: 850px;
    }
}

@media (max-width: 576px){
    .section-4-content{
        width: 80%;
        top: 25%;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .input{
        width: 96.5%;
    }
    .btn-input{
        width: 100%;
    }
    .btn-input{
        margin: 0;
    }
}

@media (max-width : 380px){
    body{
        overflow-x: hidden;
    }    
    .text-center{
        text-align: center;
    }
    .hero-banner{
        width: 850px;
    }
    .section-4{
        width: 850px;
    }
    .section-4-content{
        width: 80%;
        top: 25%;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .input{
        width: 50%;
    }
    .btn-input{
        width: 50%;
    }
    .btn-input{
        margin: 0;
    }
    .right{
        width: 80%;
        padding-bottom: 1rem;
    }
    .footer{
        width: 850px;
    }
}

.d-none{
    display: none;
}